<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>huo0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{908,557},{90,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,109}}</string>
                <key>sourceSize</key>
                <string>{90,109}</string>
            </dict>
            <key>huo0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{908,446},{90,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,109}}</string>
                <key>sourceSize</key>
                <string>{90,109}</string>
            </dict>
            <key>huo0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{908,335},{90,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,109}}</string>
                <key>sourceSize</key>
                <string>{90,109}</string>
            </dict>
            <key>huo0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{908,224},{90,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,109}}</string>
                <key>sourceSize</key>
                <string>{90,109}</string>
            </dict>
            <key>huo0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{908,113},{90,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,109}}</string>
                <key>sourceSize</key>
                <string>{90,109}</string>
            </dict>
            <key>huo0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{908,2},{90,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,109}}</string>
                <key>sourceSize</key>
                <string>{90,109}</string>
            </dict>
            <key>huojianji.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,848},{130,241}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,241}}</string>
                <key>sourceSize</key>
                <string>{130,241}</string>
            </dict>
            <key>yang-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,566},{300,280}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,280}}</string>
                <key>sourceSize</key>
                <string>{300,280}</string>
            </dict>
            <key>yang-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,566},{300,280}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,280}}</string>
                <key>sourceSize</key>
                <string>{300,280}</string>
            </dict>
            <key>yang-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,566},{300,280}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,280}}</string>
                <key>sourceSize</key>
                <string>{300,280}</string>
            </dict>
            <key>yang-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,284},{300,280}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,280}}</string>
                <key>sourceSize</key>
                <string>{300,280}</string>
            </dict>
            <key>yang-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,284},{300,280}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,280}}</string>
                <key>sourceSize</key>
                <string>{300,280}</string>
            </dict>
            <key>yang-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,284},{300,280}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,280}}</string>
                <key>sourceSize</key>
                <string>{300,280}</string>
            </dict>
            <key>yang-7.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,2},{300,280}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,280}}</string>
                <key>sourceSize</key>
                <string>{300,280}</string>
            </dict>
            <key>yang-8.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,2},{300,280}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,280}}</string>
                <key>sourceSize</key>
                <string>{300,280}</string>
            </dict>
            <key>yang-9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{300,280}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,280}}</string>
                <key>sourceSize</key>
                <string>{300,280}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>HJ.png</string>
            <key>size</key>
            <string>{1000,1091}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:213e1591840de6834a53ea92ae926e59$</string>
            <key>textureFileName</key>
            <string>HJ.png</string>
        </dict>
    </dict>
</plist>
