<?xml version="1.0" encoding="utf-8"?>
<plist>
<dict>
<key>index_start</key>
<string>开始游戏</string>
<key>index_setting</key>
<string>人物设置</string>
<key>index_more</key>
<string>更多推荐</string>
<key>index_exit</key>
<string>退出游戏</string>
<key>main_chupai</key>
<string>出牌</string>
<key>main_buchu</key>
<string>不出</string>
<key>main_tishi</key>
<string>提示</string>
<key>main_chongxuan</key>
<string>重选</string>
<key>main_score</key>
<string>底分:</string>
<key>main_multiple</key>
<string>倍数:</string>
<key>main_win</key>
<string>胜:</string>
<key>main_lose</key>
<string>负:</string>

<key>main_back</key>
<string>返回主菜单</string>
<key>main_again</key>
<string>再来一局</string>

<key>main_bujiao</key>
<string>不叫</string>
<key>main_score_1</key>
<string>1分</string>
<key>main_score_2</key>
<string>2分</string>
<key>main_score_3</key>
<string>3分</string>

<key>name_0</key>
<string>赵大叔</string>

<key>name_1</key>
<string>大头</string>
<key>introduce_1</key>
<string>(阿弥陀佛！)</string>
<key>content_1</key>
<string>沉静下来让智慧起舞！</string>
<key>win_1</key>
<string>20%</string>
<key>score_1</key>
<string>138</string>

<key>name_2</key>
<string>尹糖糖</string>
<key>introduce_2</key>
<string>(我是头，是老大)</string>
<key>content_2</key>
<string>济南是我的第二故乡！</string>
<key>win_2</key>
<string>30%</string>
<key>score_2</key>
<string>1738</string>

<key>name_3</key>
<string>爱宪峰</string>
<key>introduce_3</key>
<string>(先锋侠！)</string>
<key>content_3</key>
<string>道道道，人家道！</string>
<key>win_3</key>
<string>38%</string>
<key>score_3</key>
<string>6250</string>

<key>name_4</key>
<string>小辉辉</string>
<key>introduce_4</key>
<string>(吃货一枚！)</string>
<key>content_4</key>
<string>天地为家，四海皆朋友！</string>
<key>win_4</key>
<string>40%</string>
<key>score_4</key>
<string>3500</string>

<key>name_5</key>
<string>瑞哥</string>
<key>introduce_5</key>
<string>(我是当领导的命！)</string>
<key>content_5</key>
<string>我要成功，我要发大财！</string>
<key>win_5</key>
<string>42%</string>
<key>score_5</key>
<string>4000</string>

<key>name_6</key>
<string>小斌斌</string>
<key>introduce_6</key>
<string>(手机达人)</string>
<key>content_6</key>
<string>go go go，加油!</string>
<key>win_6</key>
<string>35%</string>
<key>score_6</key>
<string>900</string>

<key>name_7</key>
<string>苏小护</string>
<key>introduce_7</key>
<string>(苏一针)</string>
<key>content_7</key>
<string>我是女王听我的！！</string>
<key>win_7</key>
<string>28%</string>
<key>score_7</key>
<string>1000</string>

<key>name_8</key>
<string>蝙蝠侠</string>
<key>introduce_8</key>
<string>(黑暗骑士)</string>
<key>content_8</key>
<string>正义联盟，我的家</string>
<key>win_8</key>
<string>40%</string>
<key>score_8</key>
<string>3500</string>

<key>ok</key>
<string>确定</string>
<key>cancel</key>
<string>取消</string>
<key>back</key>
<string>返回</string>
<key>player_name</key>
<string>玩家名称：</string>
<key>select_icon</key>
<string>选择头像</string>

<key>setting_title</key>
<string>设置</string>
<key>setting_shake</key>
<string>震动</string>
<key>setting_mute</key>
<string>静音</string>
<key>setting_music</key>
<string>音量</string>
<key>setting_sound</key>
<string>音效</string>
<key>setting_version</key>
<string>当前版本：1.0</string>

<key>dialog_person_title</key>
<string>玩家资料</string>
<key>dialog_person_score</key>
<string>积分：</string>
<key>dialog_person_score0</key>
<string>积分：%d</string>
<key>dialog_person_win</key>
<string>胜率：</string>
<key>dialog_person_win0</key>
<string>胜率：%d%%  (胜%d/败%d)</string>
<key>dialog_person_level0</key>
<string>等级：%s(还差%d分&#x000A;就可以升级为%s)</string>
<key>dialog_person_level</key>
<string>等级：%s</string>
<key>dialog_person_message</key>
<string>游戏感言：</string>
<key>level0</key>
<string>黄金超人</string>
<key>level1</key>
<string>青铜超人</string>
<key>level2</key>
<string>白银超人</string>


<key>label_task</key>
<string>任&#x000A;务</string>
<key>label_poker</key>
<string>道&#x000A;具</string>

<key>succeed_text0</key>
<string>总共%d倍</string>
<key>succeed_text1</key>
<string>底分：%d</string>
<key>succeed_text2</key>
<string>倍数：%d</string>
<key>succeed_name</key>
<string>玩家</string>
<key>succeed_win</key>
<string>胜负</string>
<key>succeed_score</key>
<string>我的总分:%d</string>

<key>task0</key>
<string>%d.对战10局奖励重新发牌道具                %d/10</string>
<key>task1</key>
<string>%d.赢取50局奖励看对家牌道具               %d/50</string>
<key>task2</key>
<string>%d.对战20局奖励底分倍数翻倍道具        %d/20</string>
<key>task3</key>
<string>%d.赢取30局奖励看一张底牌道具            %d/30</string>
<key>task4</key>
<string>%d.对战30局奖励看一张底牌道具            %d/30</string>
<key>task5</key>
<string>%d.赢取20局奖励底分倍数翻倍道具         %d/20</string>
<key>task6</key>
<string>%d.对战50局奖励看对家牌道具                %d/50</string>
<key>task7</key>
<string>%d.赢取10局奖励重新发牌道具                %d/10</string>


<key>label_task0</key>
<string>对战10局奖励重新发牌道具！</string>
<key>label_task1</key>
<string>赢取50局奖励看对家牌道具！</string>
<key>label_task2</key>
<string>对战20局奖励底分倍数翻倍道具！</string>
<key>label_task3</key>
<string>赢取30局奖励看一张底牌道具！</string>
<key>label_task4</key>
<string>对战30局奖励看一张底牌道具！</string>
<key>label_task5</key>
<string>赢取20局奖励底分倍数翻倍道具！</string>
<key>label_task6</key>
<string>对战50局奖励看对家牌道具！</string>
<key>label_task7</key>
<string>赢取10局奖励重新发牌道具！</string>

<key>label_card0</key>
<string>获取一张重新发牌的卡牌！&#x000A;赶快点击右边按钮查收吧！</string>
<key>label_card1</key>
<string>获取一张看对家牌的卡牌！&#x000A;赶快点击右边按钮查收吧！</string>
<key>label_card2</key>
<string>获取一张底分翻倍的卡牌！&#x000A;赶快点击右边按钮查收吧！</string>
<key>label_card3</key>
<string>获取一张看一张底牌卡牌！&#x000A;赶快点击右边按钮查收吧！</string>

<key>card_title</key>
<string>道具名称：</string>
<key>card_title0</key>
<string>重新发牌</string>
<key>card_title1</key>
<string>底分倍数翻倍</string>
<key>card_title2</key>
<string>负分清零</string>
<key>card_title3</key>
<string>看一张底牌</string>
<key>card_title4</key>
<string>看对方手牌</string>
<key>card_title5</key>
<string>记牌器</string>
<key>card_title6</key>
<string>双倍积分</string>
<key>card_title7</key>
<string>幸运选牌</string>
<key>card_title8</key>
<string>VIP会员</string>


<key>card_text0</key>
<string>使用该道具系统将重新洗&#x000A;牌发牌（牌不好的时候可&#x000A;记得使用）.</string>
<key>card_text1</key>
<string>使用该道具，如当前局赢&#x000A;局，则可以获得双倍积分</string>
<key>card_text2</key>
<string>使用该道具可以将积分由&#x000A;负分变为0。</string>
<key>card_text3</key>
<string>使用该道具允许在叫地主&#x000A;前翻看一张底牌</string>
<key>card_text4</key>
<string>使用该道具将获得5 秒看&#x000A;对手牌的机会。</string>
<key>card_text5</key>
<string>使用该道具可以统计剩余&#x000A;牌情况，道具有效期10天</string>
<key>card_text6</key>
<string>使用该道具一旦胜局将获&#x000A;得双倍积分，道具有效期&#x000A;10天。</string>
<key>card_text7</key>
<string>使用该道具，下一盘将能&#x000A;分配到有炸弹的牌。</string>
<key>card_text8</key>
<string>VIP会员无限次使用所&#x000A;有道具，VIP 会员有效期&#x000A;30天。</string>

<key>used_card</key>
<string>使用</string>
<key>cancel_card</key>
<string>取消</string>

<key>shop_coin_num</key>
<string>我的元宝：%d个</string>
<key>get_coin</key>
<string>赚元宝</string>
<key>price_num</key>
<string>价格：%d元宝</string>
<key>buy_price_num</key>
<string>道具价格：%d元宝</string>
<key>buy_coin</key>
<string>购买</string>
<key>buy_coin_num</key>
<string>购买数量：</string>
<key>no_coin</key>
<string>元宝不够，请充值！</string>
<key>buy_coin_success</key>
<string>购买成功！</string>


<key>card0</key>
<string>说明：使用该道具系统将重新洗牌发牌。</string>
<key>card1</key>
<string>说明：使用该道具，如当前局赢局，则可以获得双&#x000A;倍积分。</string>
<key>card2</key>
<string>说明：使用该道具可以将积分由负分变为0。</string>
<key>card3</key>
<string>说明：允许在叫地主前翻看一张底牌。</string>
<key>card4</key>
<string>说明：使用该道具将获得5秒看对手牌的机会。</string>
<key>card5</key>
<string>说明：统计剩余牌情况，道具有效期10天。</string>
<key>card6</key>
<string>说明：使用该道具一旦胜局将获得双倍积分，道具&#x000A;有效期10天。</string>
<key>card7</key>
<string>说明：使用该道具，下一盘将能分配到有炸弹的牌。</string>

<key>no_name</key>
<string>超人</string>

<key>ad_title</key>
<string>推荐应用</string>
<key>ad_title0</key>
<string>1.博雅斗地主</string>
<key>ad_content0</key>
<string>游戏画面精美，内容丰富，完善的任务系统，成&#x000A;为许多社交网站上最火爆的扑克类游戏。      </string>
<key>ad_url0</key>
<string>http://www.19meng.com/apps/download/320/cid/1</string>
<key>ad_title1</key>
<string>2.神庙逃亡2通关攻略</string>
<key>ad_content1</key>
<string>神庙逃亡2最新官方通关攻略大全，获取高分通关不再难！</string>
<key>ad_url1</key>
<string>http://www.19meng.com/apps/download/348</string>
<key>ad_title2</key>
<string>3.斗地主必赢秘籍</string>
<key>ad_content2</key>
<string>斗地主高手秘籍，3天成为斗地主高手！下一个赌神就是你！</string>
<key>ad_url2</key>
<string>http://www.19meng.com/apps/download/335</string>
<key>ad_title3</key>
<string>4.保卫萝卜通关攻略</string>
<key>ad_content3</key>
<string>史上最新最详尽的保卫萝卜通关攻略，图文形式，一目了然。</string>
<key>ad_url3</key>
<string>http://www.19meng.com/apps/download/343</string>
<key>ad_title4</key>
<string>5.省钱聊</string>
<key>ad_content4</key>
<string>省钱聊是全球上千万用户选择的省话费软件,&#x000A;接通率100%,音质清晰,长途低至3分钱      </string>
<key>ad_url4</key>
<string>http://www.19meng.com/apps/download/324/cid/1</string>
<key>ad_title5</key>
<string>6.找你妹攻略大全</string>
<key>ad_content5</key>
<string>最全的找你妹攻略，打通找你妹的“任督二脉”&#x000A;，过关无压力，屌丝变高富帅无阻力！        </string>
<key>ad_url5</key>
<string>http://www.19meng.com/apps/download/330</string>

</dict>
</plist>